.DS_Store
*.sublime-*
.env.local
.next/
Ahoy/
app/
next-env.d.ts
node_modules/
notes/
dep.*
__pycache__/
*.env
__pages_test__/
__scripts__/__pycache__/
__scripts__/dep.*
__scripts__/env.local
__scripts__/.venv/
__scripts__/node_modules/