@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 font-noto-sans text-[16px] leading-[normal];
}
a {
  @apply cursor-pointer text-black no-underline;
}
h1 {
  @apply mb-[40px] text-[40px] font-bold leading-[50px] lg:text-[62px] lg:leading-[69px];
}
h2 {
  @apply mb-[40px] text-[28px] font-bold leading-[38px] lg:text-[36px] lg:leading-[46px];
}
h3 {
  @apply mb-[40px] text-[21px] font-bold leading-[28px] lg:text-[22px] lg:leading-[30px];
}
p {
  @apply mb-[20px] mt-0 text-[18px] leading-[26px] lg:text-[16px] lg:leading-[26px];
}
br {
  content: '';
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
select,
textarea {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: auto 20px;
}

*,
::before,
::after {
  border-width: 0;
}

@layer components {
  .grid-bg {
    /* SOURCE: https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #eaeaea 1px, transparent 1px),
      linear-gradient(to bottom, #eaeaea 1px, transparent 1px);
  }

  .grid-background {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 30px 30px;
    background-color: white;
  }

  .navbar {
  }
  .navbar.movein {
    /* display: flex; */
    top: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }

  .navbar.moveout {
    /* display: none; */
    transform: translateY(-140px);
    transition: transform 0.5s ease-out;
  }

  .home-section {
    /*    width: 100%;*/
    /*    min-height: 100vh;*/
    border-top: 1px solid #000;
    box-sizing: border-box;
  }
  .home-section .inner {
    box-sizing: border-box;
  }
  .section-header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    flex-direction: column;
  }
  .section-content {
  }
  .section-footer {
    margin-top: 40px;
  }
  .c-left {
    position: relative;
    flex-shrink: 0;
  }
  .c-right {
    position: relative;
  }
  .slideshow-lg {
    min-width: calc(100% + 160px);
    margin-left: -80px;
  }
  .board::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    top: 10px;
    left: -10px;
    background-color: #fff;
  }
  .card {
    /*    width: 300px;*/
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .card h1 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card .band {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-family:
      Space Mono,
      monospace;
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
  }
  .chip {
    min-height: 30px;
    border-radius: 30px;
    padding: 0 20px;
    font-family:
      Space Mono,
      monospace;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
  }
  .chip.square {
    border-radius: 0;
    border: 1px solid #000;
  }
  .tabs {
    display: flex;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  .tab {
    padding: 0px 20px 15px 20px;
    font-family:
      Space Mono,
      monospace;
    cursor: pointer;
  }
  .tab-line {
    border-bottom: 2px solid #000;
  }
  .tab-line.orange {
    border-color: #ffbe8d;
  }
  .tab-line.blue {
    border-color: #81c2f2;
  }
  .tab-line.yellow {
    border-color: #d2f960;
  }

  .lead {
    @apply text-[20px] leading-[29px];
  }

  .detach {
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }
  .detach::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, -10px);
    width: 100%;
    height: 100%;
    background-color: rgb(210, 249, 96);
    z-index: 0;
    transition: transform 0.25s;
  }
  .detach:hover::before {
    transform: translate(0);
  }
  .detach::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .post-it {
    background-color: #edffa4;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
  }
  /* FILTERS */
  @keyframes animatein-filters-menu {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  .filters {
    position: relative;
    z-index: 10;
    border: 1px solid #000;
    background-color: #fff;
    animation: animatein-filters-menu 0.5s;
  }
  .filters .inner {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .filter-group {
    position: relative;
    width: 100%;
  }
  .filter-group input[type='text'] {
    width: 100%;
    padding: 10px;
  }
  .filter-group menu {
    position: absolute;
    width: 100%;
    list-style: none;
    background-color: #fff;
    border: none;
    margin-top: 0px;
    box-sizing: border-box;
    /*    margin-left: -1px;*/
    padding: 0px;
    max-height: 0px;
    overflow: auto;
    z-index: 100;
    transition: max-height 0.25s;

    border: 1px solid #000;
    border-top: none;
  }
  .filter-group menu.open {
    max-height: 300px;
  }
  .filter-group menu li {
    text-transform: capitalize;
    padding: 5px 20px;
  }
  .filter-group menu li.active,
  .filter-group menu li:hover {
    background-color: #d2f960;
  }
  .filter-group .active-filters {
    border: 1px solid #000;
    border-top: none;
  }
  /* PAGINATION */
  .pagination {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    flex-direction: column;
    margin-top: 60px;
    font-family:
      Space Mono,
      monospace;
    line-height: 40px;
  }
  .pagination button {
    font-family:
      Space Mono,
      monospace;
    display: inline-block;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .pagination.green {
    color: #afe69d;
  }
  .pagination.green button {
    color: #afe69d;
  }

  .stats-cartouche {
    background-color: #fff;
    border: 1px solid #000;
  }
  .number {
    font-family:
      Space Mono,
      monospace;
    font-weight: bold;
  }
  .gradient-img {
    position: relative;
  }
  .gradient-img img {
    /*position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
  }
  .gradient-img::after {
    content: '';
    position: absolute;
    width: 400%;
    height: 200%;
    top: 0;
    left: 0;
    background: linear-gradient(
      173.09deg,
      rgba(1, 141, 242, 1),
      rgba(237, 255, 164, 1)
    );
    opacity: 0.5;
  }

  .folder.horizontal {
    width: 100%;
    position: relative;
  }
  .folder.horizontal .folder-label {
    position: absolute;
    bottom: 100%;
    left: 0;
    max-width: calc(100% - 40px);
    height: 40px;
    background-color: #000;
    padding: 8px 40px 0 20px;
    z-index: 2;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    font-size: 14px;
    font-family:
      Space mono,
      monospace;
    font-weight: bold;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    color: #fff;
  }
  .folder.horizontal .folder-label span {
    position: relative;
    z-index: 10;
  }
  .folder.horizontal .folder-label::after {
    content: '';
    position: absolute;
    bottom: calc(16px - 1px);
    left: calc(100% - 20px);
    width: 40px;
    height: calc(40px - 16px + 1px);
    transform: skew(45deg);
    background-color: #000;
    border-top-right-radius: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
  }
  .folder.horizontal .folder-base {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: calc(100% - 20px);
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    height: 16px;
    background-color: #000;
    box-sizing: border-box;
    border-top-right-radius: 5px;
  }
  .folder.horizontal .folder-base::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(100% - 8px);
    width: 20px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: skew(45deg);
    height: 16px;
    background-color: #000;
    box-sizing: border-box;
    border-top-right-radius: 5px;
  }
  /* VERTICAL FOLDERS FOR SINGLE COLLECTION HERO */
  .folder.vertical {
    height: 100%;
    position: absolute;
    bottom: 0px;
    /*    left: 0;*/
  }
  .folder.vertical .folder-label {
    position: absolute;
    top: 49px;
    left: 0;
    /*    max-width: calc(100% - 40px);*/
    height: 40px;
    background-color: #000;
    padding: 8px 20px 0 20px;
    z-index: 2;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    font-size: 14px;
    font-family:
      Space mono,
      monospace;
    font-weight: bold;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    color: #fff;
    transform: rotate(90deg);
    transform-origin: bottom left;
  }
  .folder.vertical .folder-label span {
    position: relative;
    z-index: 10;
    white-space: nowrap;
    margin: auto;
  }
  .folder.vertical .folder-label::after {
    content: '';
    position: absolute;
    bottom: calc(16px - 1px);
    left: calc(100% - 20px);
    width: 40px;
    height: calc(40px - 16px + 1px);
    transform: skew(45deg);
    background-color: #000;
    border-top-right-radius: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
  }
  .folder.vertical .folder-base {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 20px);
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    width: 16px;
    background-color: #000;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
  }
  .folder.vertical .folder-base::after {
    content: '';
    position: absolute;
    left: 0px;
    top: calc(100% - 8px);
    height: 20px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: skewY(-45deg);
    width: 16px;
    background-color: #000;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
  }
}

@layer utilities {
  @keyframes slidein {
    from {
      transform: scaleX(0) skew(-30deg);
    }
    to {
      transform: scaleX(1) skew(-30deg);
    }
  }

  .slanted-bg {
    position: relative;
    /*    display: inline-block;*/
  }
  .slanted-bg::before {
    content: '';
    position: absolute;
    left: -0.05em;
    bottom: 0;
    width: 100%;
    height: 0.5em;
    background-color: #81c2f2;
    z-index: 0;
    transform: scaleX(0) skew(-30deg);
    transform-origin: left;
    animation: slidein 0.5s;
    animation-fill-mode: forwards;
  }
  .slanted-bg.full::before {
    top: 0em;
    padding: 0 10px;
    left: -9px;
    height: 1.5em;
  }
  .slanted-bg > span {
    position: relative;
    z-index: 1;
  }
  .slanted-bg.dark {
    color: #fff;
  }

  .slanted-bg.yellow::before {
    background-color: #d2f960;
  }
  .slanted-bg.blue::before {
    background-color: #81c2f2;
  }
  .slanted-bg.dark.blue::before {
    background-color: #0368b1;
  }
  .slanted-bg.orange::before {
    background-color: #ffbe8d;
  }
  .slanted-bg.light-yellow::before {
    background-color: #ffd96f;
  }
  .slanted-bg.green::before {
    background-color: #afe69d;
  }
  .slanted-bg.white::before {
    background-color: #fff;
  }

  .sdg1 {
    color: #e5233b;
  }
  .sdg2 {
    color: #dda839;
  }
  .sdg3 {
    color: #4d9f39;
  }
  .sdg4 {
    color: #c5182d;
  }
  .sdg5 {
    color: #ff3b21;
  }
  .sdg6 {
    color: #25bde2;
  }
  .sdg7 {
    color: #fcc30c;
  }
  .sdg8 {
    color: #a21842;
  }
  .sdg9 {
    color: #fd6924;
  }
  .sdg10 {
    color: #dd1267;
  }
  .sdg11 {
    color: #fd9d25;
  }
  .sdg12 {
    color: #be8b2f;
  }
  .sdg13 {
    color: #3f7e44;
  }
  .sdg14 {
    color: #0c97d9;
  }
  .sdg15 {
    color: #56c02a;
  }
  .sdg16 {
    color: #02689d;
  }
  .sdg17 {
    color: #18486a;
  }

  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3490dc;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.6;
    }
  }

  .animate-pulse-slow {
    animation: pulse-slow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
