@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0 p-0 font-sans;
}
a {
  @apply no-underline text-black cursor-pointer ;
}

*,
::before,
::after {
  border-width: 0;
}


@layer components {
  .grid-background {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 30px 30px; 
    background-color: white;
  }

}